body{
	font-family: 'Montserrat', sans-serif;
	color: $text-color;
	background-color: $bg-color;
	font-size: 18px;
	line-height: 1.22;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	color: var(--headings-color);
	margin: 0;
}

a{
	color: inherit;
	text-decoration: none;
}

.container{
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;
}